---
import {marked} from 'marked';
import demoPreviewImageUrl from '~demos/utils/demoPreviewImageUrl';
import defaultTeaserImage from '../images/20221122-dark-circles-back-1024x.jpg?url';

export interface Props {
  id: string;
  title: string;
  body: string;
  href: string;
  image?: string;
  tags?: string[];
}

const {id, href, title, body, image, tags} = Astro.props;

const previewImage = image ? demoPreviewImageUrl(image) : defaultTeaserImage;
---

<li class="link-card relative invisible" data-demo-id={id}>
  <a href={href} class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden">
    <img src={previewImage} class="card-image pointer-events-none object-cover group-hover:opacity-75" />
  </a>
  <h2 class="absolute inline-block top-0">
    {title}
  </h2>
  <div class="description">
    <Fragment set:html={marked.parse(body)} />
  </div>
  {
    tags && tags.length > 0 && (
      <ul class="tags">
        {tags.map((tag) => (
          <li class="tag" data-tag={tag}>
            {tag}
          </li>
        ))}
      </ul>
    )
  }
</li>

<script>
  import {
    EVENT_SHOW_DEMOS,
    STORAGE_KEY_ACTIVE_TAGS,
    STORAGE_KEY_FILTER_DEMOS_BY_ID,
    STORAGE_KEY_SHOW_ALL_DEMOS,
  } from './constants.js';
  import type {LookBookShowDemosEvent} from './types.ts';

  const localFilterById = localStorage.getItem(STORAGE_KEY_FILTER_DEMOS_BY_ID);
  const localActiveTags = localStorage.getItem(STORAGE_KEY_ACTIVE_TAGS);

  const localConfig = {
    showAllDemos: !(localStorage.getItem(STORAGE_KEY_SHOW_ALL_DEMOS) === 'false'),
    filterById: localFilterById ? new Set(localFilterById.split(',')) : undefined,
    activeTags: localActiveTags ? new Set(localActiveTags.split(',')) : undefined,
  };

  function updateCardVisibility(
    $el: Element,
    demoId: string,
    showAll: boolean,
    filterById?: Set<string>,
    activeTags?: Set<string>,
  ) {
    if (showAll || filterById?.has(demoId)) {
      $el.classList.remove('hidden');
    } else {
      $el.classList.add('hidden');
    }

    const $tagEls = $el.querySelectorAll('[data-tag]');

    if (showAll) {
      $tagEls.forEach((el) => {
        el.classList.remove('active');
      });
    } else if (activeTags?.size) {
      $tagEls.forEach((el) => {
        const tag = el.getAttribute('data-tag');
        if (activeTags.has(tag)) {
          el.classList.add('active');
        } else {
          el.classList.remove('active');
        }
      });
    }
  }

  document.querySelectorAll('.link-card').forEach(($el) => {
    const demoId = $el.getAttribute('data-demo-id');

    updateCardVisibility($el, demoId, localConfig.showAllDemos, localConfig.filterById, localConfig.activeTags);

    document.addEventListener(EVENT_SHOW_DEMOS, ({detail: {showAll, filterById, activeTags}}: LookBookShowDemosEvent) => {
      updateCardVisibility($el, demoId, showAll, filterById, activeTags);
    });

    // Make the card visible after JS is loaded and visibility is set
    $el.classList.remove('invisible');
  });
</script>

<style>
  .link-card {
    border-radius: var(--card-border-radius);
    background-color: var(--color-background-dark);
    box-shadow: 0 0 0 6px var(--color-background-dark);
  }

  .link-card.hidden {
    display: none;
  }

  .link-card > a {
    color: var(--color-primary);
    border-radius: var(--card-border-radius);
  }

  .link-card:is(:hover, :focus-within) > a {
    box-shadow:
      0 0 0px 2px var(--color-primary-highlight),
      0 0 10px 10px rgba(235 239 247 / 9%);
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: var(--color-primary-highlight);
  }

  h2 {
    padding: 0.1em 0.6em;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-primary);
    background-color: rgba(0 0 0 / 80%);
    border-top-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
  }

  .description {
    margin: 0.5rem 0.5em 0.8rem;
    color: var(--color-primary);
    font-size: 0.8rem;
  }

  .tags {
    margin: -0.1rem -0.1rem 0.5rem;
  }

  .tag {
    display: inline-block;
    color: var(--color-primary);
    background-color: var(--color-background-light);
    margin: 0.1rem;
    font-size: var(--tag-font-size);
    padding: var(--tag-padding);
    border-radius: var(--tag-border-radius);
    /* box-shadow: 0 0 1px 1px var(--color-background-lighter); */
  }
  .tag.active {
    color: var(--color-background-dark);
    background-color: var(--color-primary);
  }
</style>
