---
import {marked} from 'marked';
import RainbowLine from '@spearwolf/astro-rainbow-line';
import twopoint5d from '../images/twopoint5d-logo.svg?url';
import CloseDialogIcon from './icons/CloseDialogIcon.astro';
import GitHubInvertocatIcon from './icons/GitHubInvertocatIcon.astro';

export interface Props {
  title: string;
  showSource?: Record<string, string>;
  description?: string;
}

const {title, showSource = {}, description = ""} = Astro.props;

const githubUrl = showSource?.['github'] ?? 'https://github.com/spearwolf/twopoint5d/tree/main';

// TODO create and display a qr-code with link to demo (for mobile)
//      see https://github.com/danielgjackson/qrcodejs
---

<div class="z-50 sticky top-0 y-0">
  <header class="lookbook-demo-header flex justify-start items-center px-1.5 lg:pe-5 lg:ps-4 h-14 backdrop-blur-sm">
    <figure class="flex items-center justify-start text-slate-400">
      <figcaption>a</figcaption>
      <button class="interactive-action open-show-source-dialog-action">
        <img class="h-8" src={twopoint5d} alt="twopoint5d" />
      </button>
      <figcaption>demo::</figcaption>
    </figure>

    <div class="pl-1 flex-1 flex justify-start items-center font-bold text-white">{title}</div>

    <div class="rainbow-line-container">
      <RainbowLine shadow colorSliceWidth={32} />
    </div>
  </header>
</div>

<dialog
  class="show-source-dialog w-full md:min-w-md max-w-xl px-6 py-4 rounded-md backdrop-blur-sm border-t border-b md:border-r md:border-l border-[#e5e500]"
>
  <header class="flex flex-row items-center justify-between mb-4">
    <figure class="flex items-center justify-start text-slate-300">
      <figcaption>a</figcaption>
      <a href={import.meta.env.BASE_URL}>
        <img class="h-8" src={twopoint5d} alt="twopoint5d" />
      </a>
      <figcaption>demo</figcaption>
    </figure>
    <button autofocus>
      <CloseDialogIcon />
    </button>
  </header>

  {
    title && (
      <section class="demo-title mb-4">
        <h1 class="text-l">{title}</h1>
        <RainbowLine colorSliceWidth={8} cycleDirection="left" />
      </section>
    )
  }

  <section class="demo-description mb-16 text-sm text-slate-200 [&>p]:mb-2 [&>p:last-child]:mb-0">
    <Fragment set:html={marked.parse(description)} />
    <slot name="description" />
  </section>

  <section class="text-center">
    <h2 class="text-2xl">Explore Source Code</h2>
    <p class="text-sm text-slate-200">Want to see how it is done?</p>
    <ul class="max-w-xs mx-auto mt-4 mb-6">
      {
        githubUrl && (
          <li class="ring-1 ring-white rounded-md hover:bg-slate-800">
            <a class="flex flex-row justify-center items-center text-sm py-2 gap-2" href={githubUrl} target="_blank">
              <GitHubInvertocatIcon class="h-10" />
              <span>Show source on GitHub</span>
            </a>
          </li>
        )
      }
    </ul>

    <a class="block mb-4 text-xs text-center text-slate-400 underline" href="https://github.com/spearwolf/twopoint5d"
      >Just take me to the project repository</a
    >

    <a class="block mb-4 text-xs text-center text-slate-400 underline" href={import.meta.env.BASE_URL}>Explore LookBook</a>
  </section>
</dialog>

<style>
  .lookbook-demo-header {
    background-color: rgba(0 0 0 / 0.5);
    box-shadow: 0 0 20px #4c4c42;
  }

  .rainbow-line-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    pointer-events: none;
  }

  .lookbook-demo-header img.primary {
    max-height: 32px;
    margin-left: 0.75rem;
  }

  .demo-title {
    --rainbow-line-height: 2px;
  }

  .show-source-dialog {
    background-color: rgba(18 22 25 / 75%);
    color: #fff;
    box-shadow: 0 0 2px 3px rgba(0 0 0 / 20%);
    text-shadow: none;
  }

  .show-source-dialog::backdrop {
    background: rgb(187, 0, 51);
    background: linear-gradient(
      22deg,
      rgba(187, 0, 51, 0.66) 0%,
      rgba(143, 0, 132, 0.66) 13%,
      rgba(8, 101, 92, 0.66) 61%,
      rgba(0, 96, 102, 0.66) 64%,
      rgba(0, 35, 97, 0.66) 86%,
      rgba(0, 2, 102, 0.66) 100%
    );
    backdrop-filter: blur(2px);
  }

  .container {
    width: 100vh;
    height: 0;
    right: calc(-100vh + 100vw);
  }

  .demo-navbar {
    --bg-col: var(--color-demo-navbar-background, rgba(18 22 25 / 75%));
    background-color: var(--bg-col);
    color: #ddd;
  }

  .demo-navbar img.primary {
    max-height: 36px;
  }

  .interactive-action:focus-visible {
    outline: 0;
  }
</style>

<script>
  const dialog = document.querySelector('dialog.show-source-dialog') as HTMLDialogElement;
  const closeButton = dialog.querySelector('button');
  const showButtons = document.querySelectorAll('button.open-show-source-dialog-action');

  for (const showButton of showButtons) {
    showButton.addEventListener('click', () => {
      dialog.showModal();
    });
  }

  closeButton.addEventListener('click', () => {
    dialog.close();
  });
</script>
