---
const demos = Object.entries(
  import.meta.glob('../pages/demos/*.json', {
    eager: true,
  }),
).map(([, json]) => json) as {title: string; description?: string; url: string}[];

const baseUrl = import.meta.env.BASE_URL;

const getHref = (url: string) => {
  if (url.startsWith('http')) {
    return url;
  }
  if (url.startsWith('/')) {
    return `${baseUrl}${url.substring(1)}`;
  }
  return `${baseUrl}${url}`;
};
---

<ul>
  {
    demos.map(({title, description, url}) => (
      <li>
        <a href={getHref(url)}>
          <h2>
            {title}
            <span>&rarr;</span>
          </h2>
          <p>{description}</p>
        </a>
      </li>
    ))
  }
</ul>
