---
import Card from './Card.astro';
import TagCloudFilter from './TagCloudFilter.astro';
import {loadMetadataForDemos} from '~utils/loadMetadataForDemos';

import lookbook from '../images/20221122-lookbook-white-fat.svg';

const {demos} = loadMetadataForDemos();
---

<main>
  <header class="lookbook-header">
    <img class="secondary" src={lookbook} alt="lookbook title" />
  </header>

  <TagCloudFilter />

  <ul role="list" class="demo-card-grid">
    {
      demos.map(({id, title, description, href, previewImage, tags}) => (
        <Card id={id} href={href} title={title} body={description} image={previewImage} tags={tags} />
      ))
    }
  </ul>
</main>

<style>
  main {
    margin: auto auto 3rem;
    padding: 1.5rem;
    max-width: 120ch;
  }
  .lookbook-header {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .lookbook-header img.secondary {
    filter: drop-shadow(0 0 2px #ccc) drop-shadow(0 0 15px #999);
    max-height: 66px;
    margin-left: 1rem;
  }
  .demo-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 0.5fr));
    gap: 1.5rem;
    margin-top: 33px;
    padding: 0;
  }
</style>
