---
import twopoint5d from '../images/twopoint5d-logo.svg?url';
import RainbowLine from './RainbowLine.astro';
import CloseDialogIcon from './icons/CloseDialogIcon.astro';
import CodeIcon from './icons/CodeIcon.astro';
import GitHubInvertocatIcon from './icons/GitHubInvertocatIcon.astro';
import HomeIcon from './icons/HomeIcon.astro';

export interface Props {
  title: string;
  showSource?: Record<string, string>;
}

const {title, showSource = {}} = Astro.props;

const githubUrl = showSource?.['github'] ?? 'https://github.com/spearwolf/twopoint5d/tree/main';

// TODO create qr-code with link to demo (for mobile)
//      see https://github.com/danielgjackson/qrcodejs
---

<div class="absolute bottom-0 z-50 -rotate-90 origin-bottom-left transform-gpu container pointer-events-none">
  <div class="flex justify-center">
    <header
      class="demo-navbar gap-2 flex justify-start items-center px-1.5 lg:pe-5 lg:ps-4 h-10 backdrop-blur-sm pointer-events-auto"
    >
      <a href={import.meta.env.BASE_URL} class="interactive-action rotate-90">
        <HomeIcon />
      </a>
      <button class="interactive-action open-show-source-dialog-action">
        <img class="primary" src={twopoint5d} alt="twopoint5d" />
      </button>
      <button class="interactive-action open-show-source-dialog-action rotate-90">
        <CodeIcon />
      </button>
    </header>
  </div>
</div>

<dialog class="show-source-dialog px-6 py-4 rounded-md backdrop-blur-sm">
  <header class="flex flex-row items-center justify-between mb-4">
    <figure class="flex items-center justify-start text-slate-300">
      <figcaption>a</figcaption>
      <a href={import.meta.env.BASE_URL}>
        <img class="h-8" src={twopoint5d} alt="twopoint5d" />
      </a>
      <figcaption>demo</figcaption>
    </figure>
    <button autofocus>
      <CloseDialogIcon />
    </button>
  </header>
  {
    title && (
      <section class="demo-title mb-4">
        <h1 class="text-l">{title}</h1>
        <RainbowLine colorSliceWidth={8} cycleDirection="left" />
      </section>
    )
  }
  <section>
    <h2 class="text-2xl">Explore Source Code</h2>
    <p class="text-sm">Want to see how it is done?</p>
    <ul class="mt-4 mb-6">
      {
        githubUrl && (
          <li class="ring-1 ring-white rounded-md hover:bg-slate-800">
            <a class="flex flex-row justify-center items-center text-sm py-2 gap-2" href={githubUrl} target="_blank">
              <GitHubInvertocatIcon class="h-10" />
              <span>Show source on GitHub</span>
            </a>
          </li>
        )
      }
    </ul>
    <a class="block mb-1 text-xs text-center text-slate-400 underline" href="https://github.com/spearwolf/twopoint5d"
      >Just take me to the project repository</a
    >
    <a class="block mb-1 text-xs text-center text-slate-400 underline" href={import.meta.env.BASE_URL}>Explore LookBook</a>
  </section>
</dialog>

<style>
  .demo-title {
    --rainbow-line-height: 2px;
  }

  .show-source-dialog {
    min-width: 320px;
    background-color: rgba(18 22 25 / 75%);
    color: #fff;
    outline: 1px solid #e5e500;
    box-shadow: 0 0 2px 3px rgba(0 0 0 / 20%);
  }

  .show-source-dialog::backdrop {
    background: rgb(187, 0, 51);
    background: linear-gradient(
      22deg,
      rgba(187, 0, 51, 0.66) 0%,
      rgba(143, 0, 132, 0.66) 13%,
      rgba(8, 101, 92, 0.66) 61%,
      rgba(0, 96, 102, 0.66) 64%,
      rgba(0, 35, 97, 0.66) 86%,
      rgba(0, 2, 102, 0.66) 100%
    );
    backdrop-filter: blur(2px);
  }

  .container {
    width: 100vh;
    height: 0;
    right: calc(-100vh + 100vw);
  }

  .demo-navbar {
    --bg-col: var(--color-demo-navbar-background, rgba(18 22 25 / 75%));
    background-color: var(--bg-col);
    color: #ddd;
  }

  .demo-navbar img.primary {
    max-height: 32px;
  }

  .interactive-action:hover {
    color: #fff;
    background-color: #333;
    border-radius: 2px;
  }

  .interactive-action:focus-visible {
    outline: 0;
  }
</style>

<script>
  const dialog = document.querySelector('dialog.show-source-dialog') as HTMLDialogElement;
  const closeButton = dialog.querySelector('button');
  const showButtons = document.querySelectorAll('button.open-show-source-dialog-action');

  for (const showButton of showButtons) {
    showButton.addEventListener('click', () => {
      dialog.showModal();
    });
  }

  closeButton.addEventListener('click', () => {
    dialog.close();
  });
</script>
