---
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_animated-sprites.json';
---

<Layout title={title} showSource={showSource}>
  <canvas id="canvas-container" resize-to="window"></canvas>
  <section class="fixed top-20 right-4 flex flex-wrap gap-1 items-center content-center justify-center">
    <div class="actionBtn lessSprites">less</div>
    <div class="spriteCount">0</div>
    <div class="actionBtn moreSprites">more</div>
  </section>

  <p slot="demo-description">{description}</p>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
    background-color: #391e39;
    background: radial-gradient(circle, rgb(118, 174, 141) 0%, rgb(13, 77, 75) 80%, rgb(3, 11, 28) 100%);
    color: #eee;
  }
  .spriteCount {
    color: #eee;
    font-weight: bold;
    font-size: 250%;
    min-width: 3em;
    text-align: center;
  }
  .actionBtn {
    padding: 0.5em;
    background-color: rgba(50 20 90 / 60%);
    color: #eee;
    border-radius: 4px;
    border: 1px solid rgba(11, 15, 17);
    box-shadow: 4px 4px 0 rgba(11, 15, 17);
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    display: inline-fl;
  }
  .actionBtn:hover {
    background-color: rgba(90 50 180 / 70%);
    color: #fff;
    user-select: none;
  }
</style>

<script>
  import {on} from '@spearwolf/eventize';
  import {
    AnimatedSprites,
    AnimatedSpritesGeometry,
    AnimatedSpritesMaterial,
    FrameBasedAnimations,
    OnDisplayInit,
    OnDisplayRenderFrame,
    TileSetLoader,
  } from '@spearwolf/twopoint5d';
  import {BouncingSprites} from '~demos/animated-sprites/BouncingSprites';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';
  import assetsUrl from '~demos/utils/assetsUrl';

  const demo = new PerspectiveOrbitDemo(document.getElementById('canvas-container'), {antialias: false});

  const renderSpriteCount = (count: number) => {
    document.querySelector('.spriteCount').textContent = count.toString();
  };

  on(demo, OnDisplayInit, async ({scene, camera}) => {
    camera.position.z = 60;

    const CAPACITY = 3000;
    const INITIAL_SPRITE_COUNT = 500;

    const geometry = new AnimatedSpritesGeometry(CAPACITY);

    const {tileSet, texture} = await new TileSetLoader().loadAsync(
      assetsUrl('nobinger-anim-sheet.png'),
      {
        tileWidth: 64,
        tileHeight: 64,
        margin: 1,
      },
      ['srgb'],
    );

    const anims = new FrameBasedAnimations();
    const animId = anims.add('anim0', 0.66, tileSet, [1, 2, 3, 4, 5, 4, 3, 2]);

    const bouncingSprites = new BouncingSprites(geometry.instancedPool, tileSet.atlas, 500, 75, 7);

    bouncingSprites.startSpeedBaseX = 10;
    bouncingSprites.startSpeedX = 50;

    bouncingSprites.createSprites(INITIAL_SPRITE_COUNT, animId);

    renderSpriteCount(INITIAL_SPRITE_COUNT);

    const material = new AnimatedSpritesMaterial();

    material.colorMap = texture;
    material.animsMap = anims.bakeDataTexture();

    material.renderAsBillboards = false;
    material.depthTest = false;
    material.depthWrite = false;

    const mesh = new AnimatedSprites(geometry, material);

    scene.add(mesh);

    on(demo, OnDisplayRenderFrame, ({deltaTime, now}) => {
      bouncingSprites.animate(deltaTime);
      material.time = now; // material.uniforms['time'].value = now;
      mesh.update();
    });

    console.log('BouncingSprites', bouncingSprites);
    console.log('AnimatedSprites', mesh);

    document.querySelector('.moreSprites').addEventListener('click', () => {
      bouncingSprites.createSprites(20, animId);
      renderSpriteCount(bouncingSprites.sprites.length);
    });

    document.querySelector('.lessSprites').addEventListener('click', () => {
      bouncingSprites.destroySprites(20);
      renderSpriteCount(bouncingSprites.sprites.length);
    });
  });

  demo.start();
</script>
