---
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_crosses.json';
---

<Layout title={title} showSource={showSource}>
  <canvas id="canvas-container" resize-to="window"></canvas>

  <p slot="demo-description">{description}</p>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  body {
    background: radial-gradient(circle, rgb(44 45 46) 0%, rgb(52 105 137) 100%);
  }
</style>

<script>
  import {on} from '@spearwolf/eventize';
  import {OnDisplayInit, VertexObjectGeometry, VertexObjects} from '@spearwolf/twopoint5d';
  import {DoubleSide, MeshBasicMaterial} from 'three';
  import {Cross, CrossDescriptor} from '~demos/crosses/Crosses';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';

  function makeCrossMesh(capacity: number, size: number, offset = 1.2) {
    const geometry = new VertexObjectGeometry<Cross>(CrossDescriptor, capacity);

    for (let i = 0; i < capacity; i++) {
      const cross = geometry.pool.createVO() as Cross;
      cross.make(size, size);
      cross.rotate(i * 45);
      cross.translate(i * size * offset - ((capacity - 1) * size * offset) / 2, 0);
    }

    const material = new MeshBasicMaterial({
      color: 0xf01065,
      side: DoubleSide,
    });

    const mesh = new VertexObjects(geometry, material);
    mesh.name = 'CrossMesh';

    return mesh;
  }

  const demo = new PerspectiveOrbitDemo(document.getElementById('canvas-container'));

  on(demo, OnDisplayInit, ({scene}) => {
    scene.add(makeCrossMesh(10, 10));
  });

  demo.start();

  console.dir(demo);
</script>
