---
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_map2d-rect-visi.json';
---

<Layout title={title} showSource={showSource} description={description}>
  <canvas id="canvas-container" resize-to="window"></canvas>

  <div class="info-controls text-sky-200 pt-4 pl-1">
    <p>Use the W, A, S, and D keys to scroll the map.</p>
    <p>Use the mouse to rotate the camera.</p>
  </div>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  body {
    background-color: #458497;
    background-image: linear-gradient(to right bottom, #458497 0, #2e4564 52%, #9b1a61);
    color: #eee;
  }
</style>

<script>
  import {run} from '~demos/map2d-rect-visi';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';

  run(new PerspectiveOrbitDemo(document.getElementById('canvas-container'), {antialias: false}));
</script>
