---
import CrossHair from '~components/CrossHair.astro';
import RadioButtons from '~components/RadioButtons.astro';
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_map2d-cam-visi.json';
---

<Layout title={title} showSource={showSource} description={description}>
  <canvas id="canvas-container" resize-to="window"></canvas>

  <CrossHair />

  <div class="info-controls text-neutral-200 text-sm pt-4 pl-1 text-center">
    <div class="py-2">
      <RadioButtons
        name="camera"
        buttons={[
          {value: 'map2d-camera', label: 'View & Control Map2D Camera', isActive: true},
          {value: 'pan-control', label: 'Map2D PanControl', isActive: false},
        ]}
      />
    </div>
    <p>Use the W, A, S, and D keys to scroll the map.</p>
    <p>Use the mouse to control the camera.</p>
  </div>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  body {
    background-color: #458497;
    background-image: linear-gradient(to bottom, #001020 0, #001020 25%, #667686);
    color: #fff;
  }
  .info-controls {
    transform: translateZ(10px);
  }
</style>

<script>
  import {emit} from '@spearwolf/eventize';
  import {queryRadioButtons} from '~components/RadioButtonsApi';
  import {run} from '~demos/map2d-cam-visi';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';

  const app = await run(new PerspectiveOrbitDemo(document.getElementById('canvas-container'), {antialias: false}));

  const cameraControl = queryRadioButtons('camera');

  console.log('initial camera control set to:', cameraControl.get());

  cameraControl.onChange((value) => {
    console.log('Camera control changed to:', value);

    emit(app, 'enableOrbitControls', value === 'map2d-camera');
    emit(app, 'enablePanControl', value === 'pan-control');
  });
</script>
