---
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_textured-quads.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <canvas id="canvas-container" resize-to="window"></canvas>

  <div id="texture-preview" class="texture-preview"></div>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  body {
    background-color: #391e39;
    background: radial-gradient(circle, rgba(189, 70, 98, 1) 0%, rgba(37, 4, 73, 1) 100%);
  }
  .texture-preview {
    background-color: rgba(86, 101, 115, 80%);
    border: 5px solid #324168;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 5px 5px 10px rgba(0 0 0 / 50%);
    overflow: hidden;
  }
  .texture-preview :global(img),
  .texture-preview :global(canvas) {
    max-width: 100%;
  }
</style>

<script>
  import {TextureCoords, TextureImageLoader, VertexObjects} from '@spearwolf/twopoint5d';
  import {DoubleSide, RawShaderMaterial, Texture} from 'three';
  import fragmentShaderSource from '~demos/shaders/textured-quads.frag?url';
  import vertexShaderSource from '~demos/shaders/textured-quads.vert?url';
  import {InstancedQuadsGeometry} from '~demos/instanced-quads/InstancedQuadsGeometry';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';
  import assetsUrl from '~demos/utils/assetsUrl';
  import loadShaderSource from '~demos/utils/loadShaderSource';

  async function makeMesh(
    rows: number,
    columns: number,
    size: number,
    offset: number,
    texCoords: TextureCoords,
    texture: Texture,
  ) {
    const capacity = rows * columns;
    const geometry = new InstancedQuadsGeometry(capacity);

    geometry.basePool.createVO().make();

    for (let y = 0; y < rows; y++) {
      for (let x = 0; x < columns; x++) {
        const quad = geometry.instancedPool.createVO();

        quad.width = 1.0 + Math.random() * (size - 1.0);
        quad.height = quad.width;

        quad.setInstancePosition([
          x * size * offset - ((columns - 1) * size * offset) / 2,
          y * size * offset - ((rows - 1) * size * offset) / 2,
          0,
        ]);

        quad.setTexCoords([texCoords.s, texCoords.t, texCoords.u, texCoords.v]);
      }
    }

    const material = new RawShaderMaterial({
      vertexShader: await loadShaderSource(vertexShaderSource),
      fragmentShader: await loadShaderSource(fragmentShaderSource),
      uniforms: {
        colorMap: {
          value: texture,
        },
      },
      transparent: true,
      side: DoubleSide,
    });

    const mesh = new VertexObjects(geometry, material);
    mesh.name = 'InstancedQuadsMesh';
    mesh.frustumCulled = false;

    return mesh;
  }

  const demo = new PerspectiveOrbitDemo(document.getElementById('canvas-container'), {antialias: false});

  const {imgEl, texture, texCoords} = await new TextureImageLoader().loadAsync(
    assetsUrl('ball-pattern-rot--not-power-of-2.png'),
    ['nearest'],
  );

  console.log('loaded texture-image', {imgEl, texCoords, texture});

  document.getElementById('texture-preview').appendChild(imgEl);

  await demo.start(async () => {
    demo.scene.add(await makeMesh(16, 32, 3.5, 1, texCoords, texture));
  });

  console.log('TexturedQuadsMesh', demo.scene.children[0]);
</script>
