---
import Layout from '~layouts/VanillaDemo.astro';
import {description, showSource, title} from './_textured-quads-po2image-loader.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <canvas id="canvas-container" resize-to="window"></canvas>

  <div id="texture-preview" class="texture-preview"></div>
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  body {
    background-color: #391e39;
    background: radial-gradient(circle, rgba(93, 101, 116, 1) 0%, rgba(37, 50, 98, 1) 100%);
  }
  .texture-preview {
    background-color: rgba(86, 101, 115, 80%);
    border: 5px solid #324168;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 5px 5px 10px rgba(0 0 0 / 50%);
    overflow: hidden;
  }
  .texture-preview :global(img),
  .texture-preview :global(canvas) {
    max-width: 100%;
  }
</style>

<script>
  import {PowerOf2ImageLoader, TextureCoords} from '@spearwolf/twopoint5d';
  import {DoubleSide, MeshBasicNodeMaterial, NearestFilter, Texture} from 'three/webgpu';
  import {createTexturedQuads} from '~demos/instanced-quads/createTexturedQuads';
  import {PerspectiveOrbitDemo} from '~demos/utils/PerspectiveOrbitDemo';
  import assetsUrl from '~demos/utils/assetsUrl';

  // +================================================================================+
  //
  // create textured quads
  //
  // +================================================================================+

  function makeMesh(rows: number, columns: number, size: number, offset: number, texCoords: TextureCoords, texture: Texture) {
    const capacity = rows * columns;

    const material = new MeshBasicNodeMaterial({
      transparent: true,
      side: DoubleSide,
    });

    return createTexturedQuads({capacity, texture, material}, (vertexObjectPool) => {
      for (let y = 0; y < rows; y++) {
        for (let x = 0; x < columns; x++) {
          const quad = vertexObjectPool.createVO();

          quad.width = size * (0.6 + Math.random() * 0.45);
          quad.height = (quad.width * texCoords.height) / texCoords.width;

          quad.setInstancePosition([
            x * size * offset - ((columns - 1) * size * offset) / 2,
            y * size * offset - ((rows - 1) * size * offset) / 2,
            0,
          ]);

          quad.setTexCoords([texCoords.s, texCoords.t, texCoords.u, texCoords.v]);
        }
      }
    });
  }

  // +================================================================================+
  //
  // start demo
  //
  // +================================================================================+

  const demo = new PerspectiveOrbitDemo(document.getElementById('canvas-container'));

  const data = await new PowerOf2ImageLoader().loadAsync(assetsUrl('platform-blau.png'));

  console.log('loaded power-of-2 image', data);

  const texture = new Texture(data.imgEl);
  texture.magFilter = NearestFilter;
  texture.minFilter = NearestFilter;
  texture.flipY = false;
  texture.needsUpdate = true;

  document.getElementById('texture-preview').appendChild(data.imgEl);

  await demo.start(() => {
    demo.scene.add(makeMesh(16, 32, 10, 1, data.texCoords, texture));
  });

  console.log('TexturedQuadsMesh', demo.scene.children[0]);
</script>
